.dashboard-container {
    height: 100vh;
    background-color: #ada192;
    font-family: 'Courier New', Courier, monospace;
    display: flex; /* Flex container for layout */
}

.sidebar {
    background-color: #ada192;
    width: 300px;
    display: flex;
    flex-direction: column; /* Aligns the children elements in a column */
    justify-content: space-between; /* Pushes profile section to the bottom */
    padding: 20px;
}

.sidebar h2 {
    color: #302a27;
    font-size: 2.0rem;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar-button {
    display: block;
    padding: 10px 15px;
    font-size: 1.5rem;
    color: #ddd8d5;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-button:hover {
    text-decoration: none;
    color: #ddd8d5;
    background-color: #4e4b44;
}

/* Profile Section at the Bottom of Sidebar */
.profile-section {
    margin-top: auto; /* Pushes the profile to the bottom */
    text-align: center;
    padding: 15px;
    background-color: #e9d9c8; /* Lighter background for the profile section */
    border-radius: 8px;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover; /* Ensures the image fits the circle shape */
}

.profile-info h5 {
    margin: 0;
    font-size: 18px;
}

.profile-info p {
    margin: 0;
    font-size: 14px;
}

.main-content {
    background-color: #d6d0c8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    padding: 20px;
}

.header {
    background-color: #ada192;
    color: #302a27;
    border-radius: 8px;
    border-bottom: 1px solid #ada192;
    margin-bottom: 30px;
}

.card {
    border-radius: 8px;
    color: #302a27;
}

.card-title {
    font-size: 1.25rem;
    color: #302a27;
}

.card-text {
    font-size: 1.5rem;
    color: #302a27;
}
